// Add a serif family
$family-serif: "Quicksand", "Montserrat", sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: "cyan";
$success: "limegreen";
$gap: 8px;

$navbar-breakpoint: (560px + (2 * $gap));

@keyframes fade-end {
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@mixin fade_xy($delay, $directionX, $directionY) {
  $x: unquote("#{$directionX * 10}%");
  $y: unquote("#{$directionY * 10}%");
  transform: translate($x, $y);
  opacity: 0;
  animation: 0.7s cubic-bezier(0, 0, 0.2, 1) #{$delay * 0.4}s 1 fade-end;
  animation-fill-mode: forwards;
}

@for $i from 0 through 16 {
  .fade-d-#{$i} {
    @include fade_xy($i, 0, -1);
  }

  .fade-u-#{$i} {
    @include fade_xy($i, 0, 1);
  }

  .fade-l-#{$i} {
    @include fade_xy($i, -1, 0);
  }

  .fade-r-#{$i} {
    @include fade_xy($i, 1, 0);
  }
}

a {
  color: deepskyblue;
}

html,
body,
button,
input,
select,
textarea {
  // overflow: hidden;
  // font-family: "Cormorant Garamond", serif;
  // font-family: "Krona One", sans-serif;
  // font-family: "Montserrat", sans-serif;
  // font-family: "Press Start 2P", cursive;
  // font-family: "PT Sans", sans-serif;
  // font-family: "PT Sans Caption", sans-serif;
  // font-family: "Rubik", sans-serif;
  // font-family: "Syne Mono", monospace;
  // font-family: "Vollkorn", serif;
  // Orbitron < sehr spacy
  font-family: "Quicksand", sans-serif;
  transform: 0.2s;
}

html.dark {
  body {
    color: white !important;
  }
}

html,
body {
  height: 100vh;

  overflow-y: hidden !important;
  overflow-x: hidden !important;
}

.tp-dfwv {
  top: 55px !important;
}

.navbar-item img {
  max-height: 1.75rem;
  height: 24px;
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: pixelated;
  image-rendering: optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
  margin-right: 6px;
}

input.input::placeholder {
  color: #0000004f;
}

.navbar {
  // opacity: .8;
  position: absolute;
  left: 0;
  right: 0;
  background: #0000 !important;
}

.card {
  background-color: #44444400;
  border: 1px solid #00000042;
}

.material-icons {
  font-family: "Material Icons";
  vertical-align: middle;
}

.centered-container {
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
  display: flex;
  min-height: 100vh;
}

.menu-list .headline {
  display: flex;
  justify-content: space-between;
}

.menu-list.is-active .headline {
  font-weight: bold;
}

/* NEW */
html.light,
body.light {
  background: white !important;
  color: black;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

// .section {
//   width: 100vw;
//   height: 100vh;
//   display: flex;
//   align-content: center;
//   justify-content: center;
//   flex-wrap: wrap;
// }

.button {
  padding: 0.2rem 1rem;
  // border: none;
  border: 2px solid black;
  border-color: #7aa5ff;

  .is-primary,
  .is-success {
    color: white;
  }
}
.buttons.has-addons {
  margin: 5px;
  display: flex;
  border-radius: inherit !important;
  button:first-child {
    border: 2px solid black;
    border-color: #7aa5ff;
    border-radius: 3px 0 0 3px;
  }
  button:last-child {
    border: 2px solid black;
    border-color: #7aa5ff;
    border-radius: 0 3px 3px 0;
  }
  button.is-primary {
    color: white;
  }
}
.button.is-primary.is-outlined,
.button.is-success.is-outlined {
  background: white;
  color: #859cff;
  border: 1px solid #859cff;
}

.button.is-success.is-outlined:hover,
.button.is-success.is-outlined.is-hovered,
.button.is-success.is-outlined:focus,
.button.is-success.is-outlined.is-focused {
  background-color: #7aa5ff;
  border-color: #7aa5ff;
  color: #ffffff;
}

.select select,
.textarea,
.input {
  background-color: #00000008;
  border: none;
  box-shadow: none;
  border-radius: 3px;
  color: #363636;
}

.button.is-primary,
.button.is-primary.is-outlined:hover,
.button.is-primary.is-outlined.is-hovered,
.button.is-primary.is-outlined:focus,
.button.is-primary.is-outlined.is-focused {
  border: 1px solid transparent;
  border-radius: 3px;
  background: linear-gradient(-131deg, #ff7871 0%, #ffc107 100%);
  box-shadow: 0 15px 35px rgb(255 87 34 / 24%);

  background: linear-gradient(-131deg, #71abff 0%, #869bff 100%);
  box-shadow: 0 15px 35px rgb(0 147 255 / 11%);

  // background-image: linear-gradient(-131deg, #f9637c 0%, #ff7933 100%);
  // box-shadow: 0 15px 35px rgba(255, 0, 0, 0.3);

  // background: linear-gradient(-131deg, #10948c 0%, #2793dd 100%);

  box-shadow: 0 15px 35px rgb(28 148 255 / 34%);
  // filter: hue-rotate(186deg) brightness(0.9);
  //   filter: brightness(0.9);
  transition: 0.2s;

  &:hover {
    filter: brightness(1);
  }
}

.button.is-success {
  box-shadow: 0 15px 35px rgba(30, 233, 57, 0.24);

  background-image: linear-gradient(-131deg, #8bc34a 0%, #4caf50 100%);
}

.button.is-danger {
  border-color: transparent;
  color: #fff;
  background: linear-gradient(-131deg, #da044d 0%, #f44336 100%);
  box-shadow: 0 15px 35px rgb(233 30 99 / 24%);
}

.lobby-entry {
  margin: 2rem 0;
}

.menu-list {
  a.headline {
    padding-left: 0;

    i {
      color: #2196f3;
    }
  }

  .headline {
    cursor: pointer;

    &:hover {
      .join-lobby {
        opacity: 1;
        pointer-events: all;
      }
    }

    .join-lobby {
      vertical-align: baseline;
      opacity: 0;
      pointer-events: none;

      transition: 0.3s;
      border-color: #eaeaea;
    }
  }

  .buttons {
    display: inline-flex;
  }

  &.is-active .headline .join-lobby {
    vertical-align: baseline;
    opacity: 0;
    pointer-events: none;
    display: none;
  }

  .button {
    height: 2em;
  }

  li button.declare-ready,
  li button.declare-not-ready {
    pointer-events: none;
  }

  li.is-active button.declare-ready,
  li.is-active button.declare-not-ready {
    pointer-events: all;
  }

  li ul {
    margin: 0.75em 0 0.75em 0.75em;
  }
}

.container {
  max-width: 100vw !important;
}

.game-container {
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

.game-score {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 7vh;
  font-size: 3vh;
}

li.is-active {
  font-weight: bold;
}

.page-centered-child {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.navbar {
  background-color: #0000 !important;

  .buttons:not(:last-child) {
    margin-bottom: 0 !important;
  }

  .buttons {
    padding: 3px 3px;
  }
}

.navbar-item {
  font-size: 29px;
}

nav.navbar {
  display: flex;
  justify-content: space-between;
}

// @media (prefers-color-scheme: dark) {
/* Overrides for Dark Mode. */

html.dark {
  body {
    color: white !important;
    background: #2b2b2b !important;

    .navbar-item,
    .navbar-link,
    .title,
    .navbar-burger,
    .menu-list a,
    .label,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .select select,
    .textarea,
    .input {
      color: #e8e8e8;
    }

    .menu-list a:hover,
    a:hover {
      background-color: #444444;
      color: #ffffff;
    }

    input.input::placeholder {
      color: #ffffff4f;
    }

    input:active,
    input:focus {
      outline: none;
      border: none;
      box-shadow: 0 0 0 0.125em #ffffff0a;
    }

    // .navbar-menu {
    //   background-color: #3a3a3a;
    // }
    .navbar-menu.is-active {
      background-color: #00000029;
    }

    .input,
    .select select,
    .textarea {
      background-color: #00000021;
      border: 4px;
    }
  }
}

// @media screen and (max-width: 1023px) {
//   .navbar-menu {
//     display: flex;
//   }
// }

// }
